body    {
    background-color: black;
    color: #0000ff;
    text-align: center;
}

h1  {
    color: #1dab22;
    text-align: center;
    font-family: "press start 2p", "consolas","sans-serif"

}
p   {
    color: white;
    text-align: center;
}
h3  {
    color: red;
}
